= render partial: 'spaces/header'

.m-box
  %h2 Top Chore

.row
  .span4
    .m-box
      %h2 Recent Fames
      -if @space.fames.any?
        %ul.unstyled
          -@recent_fames.each do |fame|
            %li.well
              = link_to("@#{fame.rated.name}", fame.rated) if fame.rated.present?
              = fame.text
              .m-moment{ 'data-role' => 'moment' }= fame.created_at.to_s(:db)


      -if current_user
        = form_for @space.ratings.new(value: 1), url: space_ratings_path(@space), method: :post, html: {class: "rating-form_fame"} do |f|
          = f.hidden_field :value
          = f.text_area :text, placeholder: "I like ...", class: "m-input_textarea rating-form--textarea"
          = f.hidden_field :rated_id, data: { role: 'select', source: space_users_path(@space) }
          = f.submit "Fame", class: "btn m-button rating-form--submit"

  .span4
    .m-box
      %h2 Recent Blames
      -if @space.blames.any?
        %ul.unstyled
          -@recent_blames.each do |blame|
            %li.well
              = link_to("@#{blame.rated.name}", blame.rated) if blame.rated.present?
              = blame.text
              .m-moment{ 'data-role' => 'moment' }= blame.created_at.to_s(:db)

      -if current_user
        = form_for @space.ratings.new(value: -1), url: space_ratings_path(@space), method: :post, html: {class: "rating-form_blame"} do |f|
          = f.hidden_field :value
          = f.text_area :text, placeholder: "It's a mess ...", class: "m-input_textarea rating-form--textarea"
          = f.hidden_field :rated_id, data: { role: 'select', source: space_users_path(@space) }
          = f.submit "Blame", class: "btn m-button_blame rating-form--submit"

  .span4
    .m-box
      %h2 Space Ranking
      %ol
        -@ranked_users.each do |user|
          %li.m-user
            = link_to(user.name, user)
            = image_tag(user.remote_image_url, class: 'm-user--image')
            %span.m-user--karma= formatted_karma(user.karma)

.row
  .span8
    .m-box
      %h2 What to do?

      = render "chores/chore_list", chores: @space.chores.untaken

      = link_to "See all chores", space_chores_path(@space)
