= render partial: 'spaces/header'

- if @suggested_chore
  .m-bubble_hero
    = "Hi #{current_user.name}!" if current_user
    What about doing this:
    %br
    = @suggested_chore.title
    .m-bubble--actions
      = link_to "Oh, yes!", take_space_chore_path(@space, @suggested_chore), method: :put, class: "m-button_bubble right"

.l-column-3
  -# fames
  .l-column-3--column
    .m-box_list.fames
      %h2.m-box--title Recent Fames
      -if @space.fames.any?
        %ul.unstyled
          -@recent_fames.each do |fame|
            %li.m-box_list--item
              = formatted_rating(fame)
              .m-moment{ 'data-role' => 'moment' }= fame.created_at.to_s(:db)

    -if current_user
      = form_for @space.ratings.new(value: 1), url: space_ratings_path(@space), method: :post, html: {class: "rating-form_fame"} do |f|
        = f.hidden_field :value

        .rating-form--title Write a fame:

        .m-form-row.full-width.small-margin
          = f.text_area :text, placeholder: "I like ... (fame person with @name)", class: "m-input_textarea rating-form--textarea"

        .m-form-row.full-width.small-margin
          = f.file_field :image, class: "m-input_file"

        = f.submit "Fame!", class: "m-button_fame rating-form--submit"

  -# blames
  .l-column-3--column
    .m-box_list.blames
      %h2.m-box--title Recent Blames
      -if @space.blames.any?
        %ul.unstyled
          -@recent_blames.each do |blame|
            %li.m-box_list--item
              = formatted_rating(blame)
              .m-moment{ 'data-role' => 'moment' }= blame.created_at.to_s(:db)

    -if current_user
      = form_for @space.ratings.new(value: -1), url: space_ratings_path(@space), method: :post, html: {class: "rating-form_blame"} do |f|
        = f.hidden_field :value

        .rating-form--title Write a blame:

        .m-form-row.full-width.small-margin
          = f.text_area :text, placeholder: "It's a mess ... (blame person with @name)", class: "m-input_textarea rating-form--textarea"

        .m-form-row.full-width.small-margin
          = f.file_field :image, class: "m-input_file"

        = f.submit "Blame!", class: "m-button_blame rating-form--submit"

  -# space ranking
  .l-column-3--column.last.m-box_list.ordered
    %h2.m-box--title Space Ranking
    %ol.unstyled
      -@ranked_users.each_with_index do |user, index|
        %li.m-user.m-box_list--item
          .m-box_list--item--rank= index+1
          .m-box_list--item--text
            = link_to(user.name, user)
            %span.m-user--karma= "(#{formatted_karma(user.karma)})".html_safe
          = link_to image_tag(user.remote_image_url), user, class: 'm-user-image right'

  .l-column-3--span2-column
    %h2.m-headline
      What else needs to be done?
      = link_to "Chores in Calendar view", space_chores_path(@space), class: "m-headline--link pull-right"

    = render "chores/chore_list", chores: @space.chores.untaken

    = link_to "Chores in Calendar view", space_chores_path(@space)
