= render partial: 'spaces/header'

.m-box
  %h2 Top Chore

.row
  .span4
    #fames.m-box
      %h2 Fame Top 3

      -if @space.fames.any?
        %ul.unstyled
          -@space.fames.limit(3).each do |fame|
            %li.well
              = fame.text

      -if current_user
        = form_for @space.ratings.new(value: 1), url: space_ratings_path(@space), method: :post, html: {class: "rating-form_fame"} do |f|
          = f.hidden_field :value
          = f.text_area :text, placeholder: "I like ...", class: "m-input_textarea rating-form--textarea"
          = f.submit "Fame", class: "btn m-button rating-form--submit"

  .span4
    #blames.m-box
      %h2 Blame Top 3

      -if @space.blames.any?
        %ul.unstyled
          -@space.blames.limit(3).each do |blame|
            %li.well
              = blame.text

      -if current_user
        = form_for @space.ratings.new(value: -1), url: space_ratings_path(@space), method: :post, html: {class: "rating-form_blame"} do |f|
          = f.hidden_field :value
          = f.text_area :text, placeholder: "It's a mess ...", class: "m-input_textarea rating-form--textarea"
          = f.submit "Blame", class: "btn m-button_blame rating-form--submit"

  .span4
    #chores.m-box
      %h2 What to do?

      -if @space.chores.any?
        %ul.chore-list.unstyled
          -@space.chores.untaken.limit(3).each do |chore|
            %li.chore-list--item.well
              %h3.chore-list--item--title.pull-left= chore.title
              -if current_user
                = link_to "I will do it", take_space_chore_path(@space, chore), method: :put, class: "btn pull-right chore-list--item--button"

      = link_to "See all chores", space_chores_path(@space)
