%h1 Listing ratings

%table
  %tr
    %th Text
    %th Space
    %th Creator
    %th Rated
    %th Chore
    %th Image
    %th
    %th
    %th

  - @ratings.each do |rating|
    %tr
      %td= rating.text
      %td= rating.space_id
      %td= rating.creator_id
      %td= rating.rated_id
      %td= rating.chore_id
      %td= rating.image
      %td= link_to 'Show', [@space, rating]
      %td= link_to 'Edit', edit_space_rating_path(@space, rating)
      %td= link_to 'Destroy', [@space, rating], method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Rating', new_space_rating_path(@space)
