%p#notice= notice

%p
  %b Text:
  = @rating.text
%p
  %b Space:
  = @rating.space_id
%p
  %b Creator:
  = @rating.creator_id
%p
  %b Rated:
  = @rating.rated_id
%p
  %b Chore:
  = @rating.chore_id
%p
  %b Image:
  = @rating.image

= link_to 'Edit', edit_rating_path(@rating)
\|
= link_to 'Back', ratings_path
