.l-single-column
  %ul.dropdown-menu-signup
    %li= link_to "Twitter", "/auth/twitter", class: 'm-signin--item m-signin--twitter'
    %li= link_to "GitHub", "/auth/github", class: 'm-signin--item m-signin--github'
    %li= link_to "facebook", "/auth/facebook", class: 'm-signin--item m-signin--facebook'
    %li= link_to "google", "/auth/google_oauth2", class: 'm-signin--item m-signin--google'
    %li= link_to "unsocial", "/identities/new", class: 'm-signin--item m-signin--unsocial'

.l-twin-columns

  .l-twin-columns--column.m-box.clementine
    .m-headline_inverted Sign in

    = form_tag '/auth/identity/callback' do
      .m-form-row
        = label_tag :auth_key, 'Email'
        = text_field_tag :auth_key

      .m-form-row
        = label_tag :password
        = password_field_tag :password

      .m-form-row
        =submit_tag "Sign in", class: "m-button"

  .l-twin-columns--column.m-box
    .m-headline_inverted Sign up

    = form_tag "/auth/identity/register" do
      -if @identity && @identity.errors.any?
        .error_messages
          %h2= "#{pluralize(@identity.errors.count, "error")} prohibited this account from being saved:"
          %ul
            -@identity.errors.full_messages.each do |msg|
              %li= msg

      .m-form-row
        = label_tag :name
        = text_field_tag :name, @identity.try(:name)

      .m-form-row
        = label_tag :email
        = text_field_tag :email, @identity.try(:email)

      .m-form-row
        = label_tag :password
        = password_field_tag :password

      .m-form-row
        = label_tag :password_confirmation
        = password_field_tag :password_confirmation

      .m-form-row
        =submit_tag "Sign up", class: "m-button"