= form_for [@space, @chore] do |f|
  - if @chore.errors.any?
    #error_explanation
      %h2= "#{pluralize(@chore.errors.count, "error")} prohibited this chore from being saved:"
      %ul
        - @chore.errors.full_messages.each do |msg|
          %li= msg

  .m-form-row
    = f.label :title
    = f.text_field :title
  .m-form-row
    = f.label :description, "Description (optional)"
    = f.text_area :description
  .m-form-row
    = f.label :due_at, "Due at (optional)"
    = f.text_field :due_at, data: { role: 'datepicker' }
  .m-form-row
    = f.submit 'Save', class: 'm-button'
