.l-row
  %ul.breadcrumb
    %li
      = link_to "Home", root_path
      %span.divider= ">"
    %li
      Space:
      = link_to @space.name, @space
      %span.divider= ">"
    %li.active
      Chores

.page-header
  %h1 Chores

.row
  .span4
    %h3 Dateless chores

    = render "chores/chore_list", chores: @space.chores.untaken.dateless

    = link_to 'New Chore', [:new, @space, :chore], class: "btn btn-primary"

  .span8
    %h3 Chore calendar

    = calendar(:year => Date.today.year, :month => Date.today.month, :first_day_of_week => 1, :table_class => "m-calendar",  :month_name_class => "m-calendar--month-heading", :other_month_class => "m-calendar--other-month-day", :day_name_class => "m-calendar--day-heading", :day_class => "m-calendar--day" ) do |date|
      - render_calendar_cell(date)
