!!! 5
%html
  %head
    %title SpongeHub

  = stylesheet_link_tag "application", :media => "all"
  = csrf_meta_tags
  %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}

  %body{class: [controller_name, action_name, (current_user ? "current_user" : nil)]}
    .voteforus
      = link_to(image_tag("voteforus.png"), "http://railsrumble.com/entries/47-boom-chicka-wow-wow")
    -flash[:alert] = "Some longer flash message for better UX"

    -if flash[:alert]
      .flash_alert{data: {role: "flash", type: 'alert'}}
        .flash--text= flash[:alert]
        = link_to "X", "#", class: "m-button flash--close", data: {role: 'close'}
    -elsif flash[:notice]
      .flash_notice{data: {role: "flash", type: 'notice'}}
        .flash--text= flash[:notice]
        = link_to "X", "#", class: "m-button flash--close", data: {role: 'close'}

    .container
      %header.header
        = image_tag "backgrounds/header_dreck_top.png", class: "header-dreck"

        = link_to image_tag("logo_spongehub.png"), root_path, class: "header-logo"

        %ul.header-navigation.unstyled
          %li
            = link_to "About", about_path, class: "m-button"
          -if current_user
            - if current_user.spaces.any?
              %li.dropdown
                =link_to "#", class: "dropdown-toggle m-button", data: {toggle: "dropdown"} do
                  My Spaces
                  .m-icon.down-dir
                %ul.dropdown-menu
                  - current_user.spaces.each do |space|
                    %li= link_to space.name, space
            %li
              = link_to "Sign out", signout_path, class: "m-button"
              = link_to(image_tag(current_user.remote_image_url), user_path(current_user))
          -else
            %li.dropdown.m-signin
              = link_to "#", class: "dropdown-toggle m-button", data: { toggle: 'dropdown' } do
                Sign in using…
                .m-icon.down-dir
              %ul.dropdown-menu
                %li= link_to "Twitter", "/auth/twitter", class: 'm-signin--item m-signin--twitter'
                %li= link_to "GitHub", "/auth/github", class: 'm-signin--item m-signin--github'
                %li= link_to "facebook", "/auth/facebook", class: 'm-signin--item m-signin--facebook'
                %li= link_to "google", "/auth/google_oauth2", class: 'm-signin--item m-signin--google'
                %li= link_to "unsocial", "/identities/new", class: 'm-signin--item m-signin--unsocial'

      .content
        = yield

      %footer.footer
        %h3.made-with
          Made with
          .m-icon.heart
          for&nbsp;
          = link_to "Rails Rumble 2012", "http://railsrumble.com/entries/47-boom-chicka-wow-wow", target: "_blank"
          %br
          .team
            by Team
            = link_to "BoomChickaWowWow", "http://railsrumble.com/entries/47-boom-chicka-wow-wow", target: "_blank"
        %ul.creators.unstyled
          %li{title: "Boom aka. Jan"}
            = link_to(image_tag("creators/koos.jpg"), "http://twitter.com/koos")
          %li{title: "Chicka aka. Liane"}
            = link_to(image_tag("creators/liane_thoennes.jpg"), "http://twitter.com/liane_thoennes")
          %li{title: "Wow aka. Jakob"}
            = link_to(image_tag("creators/jkwebs.jpg"), "http://twitter.com/jkwebs")
          %li{title: "Wow aka. Max"}
            = link_to(image_tag("creators/namxam.jpg"), "http://twitter.com/namxam")

        .twitter
          Follow
          = link_to "@spongehub_", "http://twitter.com/spongehub_", target: "_blank"
          on Twitter

    = javascript_include_tag "application"

    = render "layouts/analytics"
